@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&display=swap');
* {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
    color: aliceblue;
    text-decoration: none;
}   
    body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #060301;
  color: #fff;
  
}
.a2{
  min-width: 950px;
}

header {
  background-color: #210f00;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.677);
  flex-wrap: wrap;
  min-width: 950px;

}

 .main-header{ 
  width: 68%;
  margin: auto;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #210f00;
  border-radius: 30px;
  position: relative;
  box-shadow:10px 10px 10px #060301b5;
  min-width: 950px;
  min-height: 486px;
 }
 

 .imgbook{
  position: absolute;
  left:  30px;
  min-width: 300px;
 }
 
  .header1{
    position: relative;
    left: 200px;
  
 }

div+img{
position: absolute;
left:  170px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f2c17d;
 
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-buttons a {
  background-color:#a96767;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}


.nav-buttons a:hover {
  background-color:#ca9696 ;
}

.search-bar {
  margin: 30px auto;
  text-align: center; 
  display: inline-block;
  position: relative;
  bottom:  110px;
  width: 600px;
 
}
div.search-bar>img {
  position: relative;
top :10px;
right: 10px;
}

.search-bar input {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #333;

}




.content>p {
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
 font-size: 20px;
}


    .book-card ,.book-card2 , .book-card3 , .book-card4 , .book-card5 , .book-card6 , .book-card7 {
  background-color: #210f00;
  color: #fff;
  border-radius: 10px; 
  padding: 15px;
  width: 180px;
  height: 600px;
  text-align: center;
  box-shadow: 10px 10px 10px #060301b5;
  transition: transform 0.3s;
}

.book-card:hover , .book-card2:hover , .book-card3:hover , .book-card4:hover , .book-card5:hover , .book-card6:hover , .book-card7:hover {
  transform: scale(1.05);
}
.book-card ,.book-card2 , .book-card3 , .book-card4 , .book-card5 , .book-card6 , .book-card7{
  height: 300px;
}
.book-card img  , .book-card2 img , .book-card3 img , .book-card4 img ,.book-card5 img ,.book-card6 img , .book-card7 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0,8px;
}

.book-title ,  .book-title2 ,.book-title3 ,.book-title4 ,.book-title5 ,.book-title6 ,.book-title7 {
  margin: 10px 0;
  font-size: 18px;
  color: #f2c17d;
}

.book-rating , .book-rating2 , .book-rating3 , .book-rating4 , .book-rating5 , .book-rating6 , .book-rating7 {
  margin: 5px 0;
  font-size: 16px;
  color: #ffd700; /* لون النجوم */
}

.book-description ,  .book-description2 ,.book-description3 ,.book-description4 ,.book-description5 ,.book-description6 ,.book-description7 {
  font-size: 14px;
  color: #ddd;
}
/* img 2 book */


 

h2{
  margin: 10px;
  padding: 40px;
  color: #e8e0e0;
  font-size: 50px;
  background-color: #210f00;
  border-radius: 20px;
  box-shadow:10px 10px 10px  #060301b5;
  min-width: 300px;
  align-items: center;
  flex-direction: column;
}
.text{
  background-color: #442d2000;
  box-shadow:none;
 }
/*----------------------------------------------------------------------------- صفحة الاقسام */
/* إعدادات عامة */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(to bottom, #dccab26a, #4e342e6f) ;
 
  color: #fff;
 
  text-align: center;
}
 div.bb{
  height: 540px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  display: inline-block; 
  border-radius: 40px;
background-color: #210f00 ;
flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
 
 }
/* رأس الصفحة */
.sec1 {
  background-color: #dfd3be;
  padding: 30px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.sech2 {
  font-size: 3rem;
  margin: 40px;
  color: #ffccbc;
  letter-spacing: 5px;
}

/* مجموعات الأزرار */
.btn-group {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
 
  
}

/* زر فردي */
.btn {
  padding: 20px 20px;
  font-size: 1rem;
  border: 2px solid #ffccbc;
  background-color: transparent;
  color: #ffccbc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  max-width: 150px;
  display: inline-block;
  
}

.btn:hover {
  background-color: #ffccbc;
  color:#210f00;
}
 .btn-outline-primary:active {
  background-color: #3b261b;
 }

/* استجابة للشاشات الصغيرة */
@media (max-width: 600px) {
  .btn-group {
    flex-direction: column;
    align-items: center;
  }
}             




/* الكتب */

.book-carousel {
  padding: 2rem;
  background:#ffffff00;
  direction: rtl;
  border-radius: 20px;
min-width: 950px;
}

.book-carousel h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.carousel-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  scroll-snap-align: start;
}

.book-card , .book-card2 ,.book-card3 ,.book-card4 ,.book-card5 ,.book-card6 ,.book-card7 {
  min-width: 200px;
  flex: 0 0 auto;
 background-color: #210f00;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  height: 400px;
}
           




 







/*  sign up  */

:root {
  --main-color: #210f00;
  --secondary-color: #210f00;
  
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.social-container {
  margin: 20px 0;
  
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
}

button:hover {
  background: var(--secondary-color);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #fff;
}

button.ghost:hover {
  background: #fff;
  color: var(--secondary-color);
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: inherit;
}

.container {
  background-color: #1f1a1a;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  left: 200px;
  overflow: hidden;
  height: 868px;
  width: 480px;
  max-width: 100%;
  min-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
  
}

.sign-in-container {
  top: 0;
  height: 50%;
  z-index: 2;
 
}

.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
  
}

.sign-up-container {
  top: 0;
  height: 50%;
  opacity: 0;
  z-index: 1;
  
}

.container.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}


/* overlay */

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateY(-100%);
}

.overlay {
  background: var(--secondary-color);
  background: var(--gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  top: -100%;
  width: 100%;
  height: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateY(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateY(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

.overlay-right {
  bottom: 0;
  transform: translateY(0);
}

.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}

@media (min-width: 768px) {
  body {
    margin: -20px 0 50px;
  }
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

 
}

  .container {
    width: 768px;
    max-width: 100%;
    height: 480px;
  }

  .form-container {
    top: 0;
    height: 100%;
    width: 50%;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }

  .overlay-container {
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    top: 0;
    left: 50%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}
.container {
    flex-direction: column;
 
  min-height: 100vh;
  margin: 1rem 0;
  height:100%;
  width:70%; 
  display: flex; 
  flex-wrap: wrap;
   justify-content: space-around;
    padding: 20px;
}


button>a{
  color: #ffffff;
}

/* زر تحميل الكتاب */

.dow{
 padding: 10px 20px;
  font-size: 16px;
    background-color: #b72e08;
     color: white;
      border: none; 
      border-radius: 6px;
       cursor: pointer;
        min-width: 140px; 
        display: block;
         margin: 10px auto; 
        position: relative;
        bottom: 25px;
         }
          .download-btn:hover { 
            background-color: #ffffff; 
          }

/* footar */
.footer {
  background-color: #210f00;
  color: #fff;
  padding:15px;
  font-family: 'Arial', sans-serif;
  direction: rtl;
  width: 1520px;
 position: absolute;
 right: 1px;
 align-items: center;
 min-width: 900px;
}


.footer-container {
  min-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1 1 200px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f0c040;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
}
.footer-column ul li a:hover {
  color: #fff;
}

.social-icons a {
  margin-left: 10px;
  color: #ccc;
  font-size: 18px;
  text-decoration: none;
}
.social-icons a:hover {
  color: #f0c040;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #444;
  padding-top: 10px;
}
/* االاسئلة الشائعة  */
.faq{
width: 500px;
margin: 0  auto;
padding: 0 ;
min-width: 750px;
}

.faq-item_title{
  cursor: pointer;
  background-color: #ac6e6e;
  border:2px solid #211010;
  padding: 10px;
}

.faq-item_title:hover{
  
  background-color: #673838;
  
}
.faq-item_content{
 background-color: #1d1009;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.faq-item:first-child .faq-item_title{
 border-radius: 10px 10px 0 0 ;
}
/* 000000000000000000000000000000000000000000 */
#book-list { list-style: none;
   padding: 0; 
   margin-top: 15px;
   } 
   #book-list li {
     background-color: #ba7676;

     margin: 8px 0;
      padding: 10px 15px; 
      border-radius: 6px;
       font-size: 15px; 
       display: none;
        transition: 0.3s; 
      }
     .container { 
      flex-direction: column; 
      align-items: center; }